<div style="margin-top: -105px;">
    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
            <i class="bi bi-hdd-fill"></i>
            <h3>Back-end</h3>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia facilis accusantium laboriosam repellendus ipsa minima quas ad porro sit in cumque saepe, consequatur ullam doloribus! Voluptatum placeat aut enim maiores.
            </p>
            <p class="text-primary cabecera">
                Stack:
            </p>

            <p>
                ASP.NET Core, SQL Server
            </p>
            <p class="text-primary cabecera">
                Experiencia:
            </p>

            <ul>
                <li>Web APIs</li>
                <li>Asp.NET Core MVC</li>
                <li>Blazor</li>
                <li>Dapper</li>
                <li>Queries espaciales</li>
                <li>Principios SOLID</li>
            </ul>
        </div>
        <div class="col col-3 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">
            <i class="bi bi-file-earmark-code-fill"></i>
            <h3>Front-End</h3>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique ipsum earum nobis, fugiat molestiae vitae at? Debitis a incidunt dolore nemo quis consequatur? Consequuntur sequi corporis dolorem repellendus nesciunt a.        </p>
            <p class="text-primary cabecera">
                Stack:
            </p>

            <p>
                Angular,blazor, React
            </p>
            <p class="text-primary cabecera">
                Experiencia:
            </p>

            <ul>
                <li>Web APIs</li>
                <li>Asp.NET Core MVC</li>
                <li>Blazor</li>
                <li>Dapper</li>
                <li>Queries espaciales</li>
                <li>Principios SOLID</li>
            </ul>
        </div>
    </div>
</div>